Repository SLIIT-24-25J-047-Research/INTERVIEW-PROCESSING-SYSTEM, pull requests merged in 2024-12, with the labels that each got.

#46 Test and Results Sample UI done
  backend/controllers/candidate/classificationController.js
  backend/controllers/candidate/predictionController.js
  backend/models/candidate/Prediction.js
  backend/models/candidate/imageClassification.js
  backend/routes/candidate/classificationRoutes.js
  backend/routes/candidate/predictionRoutes.js
  backend/server.js
  frontend/AIPT/src/components/Candidate/Instructions.tsx
  frontend/AIPT/src/components/Candidate/MockupQuestion.tsx
  frontend/AIPT/src/images/user.png
  frontend/AIPT/src/pages/Candidate/CandidateDashboard.tsx
  frontend/AIPT/src/pages/Candidate/CandidateProfile.tsx
  frontend/AIPT/src/pages/Candidate/MockupTest.tsx
  frontend/AIPT/src/pages/Candidate/Results.tsx
  frontend/AIPT/src/pages/Styles/MockupQuestion.css
  frontend/AIPT/src/pages/Styles/Results.css
Labels: FrontEnd Enhancement

#48 Stress Detection Backend Done
  .gitignore
  README.md
  backend/candidate_classification_service/.gitignore
  backend/controllers/confidencePredictController.js
  backend/controllers/predictController.js
  backend/controllers/stressController.js
  backend/routes/stressRoutes.js
  backend/routes/voiceConfidenceRoutes.js
  backend/server.js
  backend/stress_detection_service/.gitignore
  backend/stress_detection_service/app.py
  backend/stress_detection_service/camera_capture.py
  backend/stress_detection_service/requirements.txt
Labels: New : BackEnd

#52 Shedule Interview - Backend
  README.md
  backend/controllers/authController.js
  backend/controllers/employer/JobsController.js
  backend/controllers/employer/NonTechInterviewController.js
  backend/controllers/employer/TechInterviewController.js
  backend/models/User.js
  backend/models/employer/NonTechInterviewSchedule.js
  backend/models/employer/TechnicalInterviewSchedule.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.js
  backend/routes/employer/NonTechInterviewRoutes.js
  backend/routes/employer/TechInterviewRoutes.js
  backend/routes/voiceConfidenceRoutes.js
  backend/server.js
  frontend/AIPT/.gitignore
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/Auth.css
  frontend/AIPT/src/components/Interviewer/Header.tsx
  frontend/AIPT/src/components/Interviewer/Sidebar.tsx
  frontend/AIPT/src/components/Interviewer/dashboard.css
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/components/Register.tsx
  frontend/AIPT/src/images/login-BG.jpg
  frontend/AIPT/src/main.tsx
  frontend/AIPT/src/pages/Interviewer/AddJob.tsx
  frontend/AIPT/src/pages/Interviewer/Interviews.tsx
  frontend/AIPT/src/pages/Interviewer/Profile.tsx
Labels: BackEnd Enhancement
