Repository SLIIT-24-25J-047-Research/INTERVIEW-PROCESSING-SYSTEM, pull requests merged in 2024-11, with the labels that each got.

#15 Microservice Architecture
  .gitignore
  backend/Dockerfile
  backend/controllers/employer/questionController.js
  backend/controllers/predictController.js
  backend/docker-compose.yml
  backend/models/employer/Question.js
  backend/package-lock.json
  backend/package.json
  backend/routes/employer/questionRoutes.js
  backend/routes/voiceConfidenceRoutes.js
  backend/server.js
  backend/voice-confidence-service/Dockerfile
  backend/voice-confidence-service/app.py
  backend/voice-confidence-service/requirements.txt
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/components/Candidate/AnswerQuestions.tsx
  frontend/AIPT/src/pages/Candidate/Assignments.tsx
Labels: enhancement

#32 It21319792 boshitha gunarathna
  backend/controllers/audioController.js
  backend/controllers/employer/JobsController.js
  backend/controllers/predictController.js
  backend/models/employer/SkillGroup.js
  backend/voice-confidence-service/app.py
  frontend/AIPT/src/components/Candidate/AnswerQuestions.tsx
Labels: enhancement

#39 It21319792 boshitha gunarathna
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/Footer.tsx
  frontend/AIPT/src/components/Candidate/candidateHeader.css
  frontend/AIPT/src/components/Candidate/footer.css
  frontend/AIPT/src/components/ui/select.tsx
  frontend/AIPT/src/images/header.png
  frontend/AIPT/src/pages/Candidate/CandidateHome.tsx
  frontend/AIPT/src/pages/Candidate/JobDetails.tsx
  frontend/AIPT/src/pages/Styles/CandidateHome.css
  frontend/AIPT/src/pages/Styles/JobApplicationForm.css
Labels: enhancement, FrontEnd Enhancement

#40 Development
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/Footer.tsx
  frontend/AIPT/src/components/Candidate/candidateHeader.css
  frontend/AIPT/src/components/Candidate/footer.css
  frontend/AIPT/src/components/ui/select.tsx
  frontend/AIPT/src/images/header.png
  frontend/AIPT/src/pages/Candidate/CandidateHome.tsx
  frontend/AIPT/src/pages/Candidate/JobDetails.tsx
  frontend/AIPT/src/pages/Styles/CandidateHome.css
  frontend/AIPT/src/pages/Styles/JobApplicationForm.css
Labels: enhancement, FrontEnd Enhancement

#41 Candidate classification model and prediction (python, node backend) - Done
  .gitignore
  backend/candidate_classification_service/.gitignore
  backend/candidate_classification_service/Dockerfile
  backend/candidate_classification_service/app.py
  backend/candidate_classification_service/base/Dockerfile
  backend/candidate_classification_service/requirements.txt
  backend/controllers/authController.js
  backend/controllers/candidate/classificationController.js
  backend/controllers/candidate/predictionController.js
  backend/controllers/predictController.js
  backend/docker-compose.yml
  backend/models/candidate/Prediction.js
  backend/models/candidate/imageClassification.js
  backend/package-lock.json
  backend/routes/auth.js
  backend/routes/candidate/classificationRoutes.js
  backend/routes/candidate/predictionRoutes.js
  backend/server.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateSidebar.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/pages/Candidate/MockupTest.tsx
  frontend/AIPT/src/pages/Candidate/Results.tsx
Labels: documentation, python, Image-Processing-Model

#42 Development
  .gitignore
  backend/candidate_classification_service/.gitignore
  backend/candidate_classification_service/Dockerfile
  backend/candidate_classification_service/app.py
  backend/candidate_classification_service/base/Dockerfile
  backend/candidate_classification_service/requirements.txt
  backend/controllers/authController.js
  backend/controllers/candidate/classificationController.js
  backend/controllers/candidate/predictionController.js
  backend/controllers/predictController.js
  backend/docker-compose.yml
  backend/models/candidate/Prediction.js
  backend/models/candidate/imageClassification.js
  backend/package-lock.json
  backend/routes/auth.js
  backend/routes/candidate/classificationRoutes.js
  backend/routes/candidate/predictionRoutes.js
  backend/server.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateSidebar.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/pages/Candidate/MockupTest.tsx
  frontend/AIPT/src/pages/Candidate/Results.tsx
Labels: BackEnd Enhancement
