Repository SLIIT-24-25J-047-Research/INTERVIEW-PROCESSING-SYSTEM, pull requests merged in 2025-02, with the labels that each got.

#67 It21319792 boshitha gunarathna
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/employer/TechnicalQuestions.js
  backend/routes/employer/TechnicalQuestionRoutes.js
  backend/server.js
  backend/voice-confidence-service/app.py
  backend/voice-confidence-service/download_nltk.py
  frontend/AIPT/.gitignore
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/non-tech-interview/NonTechInterview.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Instructions.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/Interviewer/Header.tsx
  frontend/AIPT/src/components/Interviewer/Sidebar.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/main.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateTest.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/MockupTest.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/NonTechInterviewPage.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/ScheduledInterviewPage.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Interviewer/InterviewerHome.tsx
Labels: New : BackEnd, BackEnd Enhancement, FrontEnd Enhancement

#68 Development
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/employer/TechnicalQuestions.js
  backend/routes/employer/TechnicalQuestionRoutes.js
  backend/server.js
  backend/voice-confidence-service/app.py
  backend/voice-confidence-service/download_nltk.py
  frontend/AIPT/.gitignore
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/non-tech-interview/NonTechInterview.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Instructions.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/Interviewer/Header.tsx
  frontend/AIPT/src/components/Interviewer/Sidebar.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/main.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateTest.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/MockupTest.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/NonTechInterviewPage.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/ScheduledInterviewPage.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Interviewer/InterviewerHome.tsx
Labels: enhancement, BackEnd Enhancement, FrontEnd Enhancement

#69 It21319792 boshitha gunarathna
  backend/controllers/employer/TechnicalAnswersController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/employer/TechnicalAnswers.js
  backend/models/employer/TechnicalQuestions.js
  backend/routes/employer/TechnicalAnswersRoutes.js
  backend/server.js
  frontend/AIPT/eslint.config.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Instructions.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/contexts/AuthContext.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Interviewer/CheckAnswers.tsx
  frontend/AIPT/tsconfig.app.json
  frontend/AIPT/tsconfig.json
  frontend/AIPT/tsconfig.node.json
Labels: BackEnd Enhancement, FrontEnd Enhancement

#70 Development
  backend/controllers/employer/TechnicalAnswersController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/employer/TechnicalAnswers.js
  backend/models/employer/TechnicalQuestions.js
  backend/routes/employer/TechnicalAnswersRoutes.js
  backend/server.js
  frontend/AIPT/eslint.config.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/CodeEditor.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Instructions.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/contexts/AuthContext.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Interviewer/CheckAnswers.tsx
  frontend/AIPT/tsconfig.app.json
  frontend/AIPT/tsconfig.json
  frontend/AIPT/tsconfig.node.json
Labels: BackEnd Enhancement, FrontEnd Enhancement

#66 CV Uploading backend frontend binding - done
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/App.tsx
  frontend/AIPT/src/pages/Candidate/candidate-home/CandidateHome.tsx
  frontend/AIPT/src/pages/Candidate/candidate-home/JobDetails.tsx
  frontend/AIPT/src/pages/Candidate/candidate-home/ViewCVPage.tsx
Labels: FrontEnd Enhancement, UI, UX

#75 It21319792 boshitha gunarathna
  backend/controllers/authController.js
  backend/controllers/employer/TechnicalAnswersController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/User.js
  backend/models/employer/TechnicalAnswers.js
  backend/models/employer/TechnicalQuestions.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DataVisualizationQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/LogicalPuzzleQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/ObjectMechanicQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/Interviewer/answers/AnswerDetails.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/admin.ts
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/components/ui/animated-modal.tsx
  frontend/AIPT/src/components/ui/background-gradient-animation.tsx
  frontend/AIPT/src/components/ui/typewriter-effect.tsx
  frontend/AIPT/src/contexts/AuthContext.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateDashboard.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateProfile.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/PasswordUpdateModal.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Home.tsx
Labels: BackEnd Enhancement, FrontEnd Enhancement, UI, UX

#76 Development
  backend/controllers/authController.js
  backend/controllers/employer/TechnicalAnswersController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/models/User.js
  backend/models/employer/TechnicalAnswers.js
  backend/models/employer/TechnicalQuestions.js
  frontend/AIPT/package-lock.json
  frontend/AIPT/package.json
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DataVisualizationQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/LogicalPuzzleQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/ObjectMechanicQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/Timer.tsx
  frontend/AIPT/src/components/Interviewer/answers/AnswerDetails.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/components/store/InterviewStore.tsx
  frontend/AIPT/src/components/types/admin.ts
  frontend/AIPT/src/components/types/index.ts
  frontend/AIPT/src/components/ui/animated-modal.tsx
  frontend/AIPT/src/components/ui/background-gradient-animation.tsx
  frontend/AIPT/src/components/ui/typewriter-effect.tsx
  frontend/AIPT/src/contexts/AuthContext.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateDashboard.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/CandidateProfile.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/PasswordUpdateModal.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
  frontend/AIPT/src/pages/Home.tsx
Labels: BackEnd Enhancement, FrontEnd Enhancement, UI, UX

#77 It21319792 boshitha gunarathna
  backend/controllers/candidate/CodeCalculationController.js
  backend/controllers/candidate/CodeComplexityScoreController.js
  backend/controllers/candidate/CodeSubmissionController.js
  backend/controllers/candidate/predictionController.js
  backend/controllers/employer/TechnicalCodeExecutionController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/controllers/employer/questionController.js
  backend/models/candidate/CodeCalculationModels.js
  backend/models/candidate/CodeSubmissionModels.js
  backend/routes/candidate/CodeCalculationRoutes.js
  backend/routes/candidate/CodeComplexityScoreRoutes.js
  backend/routes/candidate/CodeSubmissionRoutes.js
  backend/routes/candidate/predictionRoutes.js
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DataVisualizationQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/LogicalPuzzleQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/ObjectMechanicQuestion.tsx
  frontend/AIPT/src/components/Interviewer/answers/AnswerDetails.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
Labels: bug

#78 Development
  backend/controllers/candidate/CodeCalculationController.js
  backend/controllers/candidate/CodeComplexityScoreController.js
  backend/controllers/candidate/CodeSubmissionController.js
  backend/controllers/candidate/predictionController.js
  backend/controllers/employer/TechnicalCodeExecutionController.js
  backend/controllers/employer/TechnicalQuestionController.js
  backend/controllers/employer/questionController.js
  backend/models/candidate/CodeCalculationModels.js
  backend/models/candidate/CodeSubmissionModels.js
  backend/routes/candidate/CodeCalculationRoutes.js
  backend/routes/candidate/CodeComplexityScoreRoutes.js
  backend/routes/candidate/CodeSubmissionRoutes.js
  backend/routes/candidate/predictionRoutes.js
  frontend/AIPT/src/components/Candidate/CandidateHeader.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DataVisualizationQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/DragDropQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/FillBlanksQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/LogicalPuzzleQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/MultipleChoiceQuestion.tsx
  frontend/AIPT/src/components/Candidate/tech-interview/ObjectMechanicQuestion.tsx
  frontend/AIPT/src/components/Interviewer/answers/AnswerDetails.tsx
  frontend/AIPT/src/components/Login.tsx
  frontend/AIPT/src/pages/Candidate/candidate-dashboard/TechInterviewPage.tsx
Labels: bug
